<div class="scrollable-container mt-3">
  <div class="grid" data-controller='masonry'>
    <% @events.each do |event| %>
      <div class="grid-item" data-masonry-target='item'>
        <%= cl_image_tag(event.photo.key, crop: :fill, data: { masonry_target: :image }) %>
      </div>
    <% end %>
  </div>
</div>
