.scrollable-container {
  // display: flex; /* Enables flexbox layout */
  // justify-content: center; /* Centers the grid horizontally */
  overflow-x: auto;
  white-space: nowrap; /* Ensures items are not wrapped */
  width: 100%;
}

.grid {
  display: inline-block; /* Ensures the grid stays on one line */
  /* Adjust the grid width to fit the number of columns */
  width: calc(277px * 6 + 30px * 5); /* (Number of columns * column width) + (Number of gaps) */
}

.grid-item {
  width: 277px; /* Matches columnWidth */
  margin-bottom: 30px; /* Adds vertical space between items */
  margin-right: 30px; /* Adds horizontal space between items */
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.grid-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
